<ol class="post-list">
    <!-- posts array -->
  {{#each projects as |post|}}
  <li>
   {{post.name}}
  </li>
  {{/each}}
</ol>

{{!-- 
add a div 
add a small section with the users info then the posts
--}}