<!-- displaying articles -->
{{!-- {{> post-info project}}

<!-- displaying form and comments-->
<!-- only display if logged in -->
{{#if loggedIn}} --}}
<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">add comment</button>
  </div>
</form>
{{!-- {{/if}} --}}
<div class="meta">
  {{user.username}} on {{date_created}}
</div>
<div class="text">
  {{#each comments}}
  <ul>{{comment_text}}</ul>
  
  {{/each}}
</div>
{{!-- {{> comments project.comments}} --}}

{{!-- {{#if loggedIn}} --}}
<script src="/js/comment.js"></script>
{{!-- {{/if}} --}}